.float {
  display: flex;
  float: right;
}
.box:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.nav-button:hover {
  background-color: #364da2;
}

.nav-button {
  border-radius: 30px;
  text-transform: capitalize;
  color: white;
  border: 0px solid;
}
